{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}
<style>
    #head{
        font-size: 40px;
        color: #12c064;
        font-family: cursive;
    }
    p{
        padding: 0px 0px 0px 10px;
    }
</style>
<h1 style="font-weight: bold;color: #61aa08;">About Pride Hotel</h1>
<center>
    <img src="static/images/Hotel_image.jpg" alt="" width="100%">
    <p style="font-size: 40px;font-weight: bold;color: #12c064;    padding: 30px 0;
    max-width: 1340px;">Experience Delhi from our Pride Plaza Hotel</p>
</p>
</center>
<p style="font-size: 22px;font-family: math;justify-content: center;text-align: justify;">The Pride started with its first hotel in the year 1988 in Pune, Maharashtra. With the remarkable success of the Pune hotel, the second one was set up in Nagpur and then followed by Ahmedabad, Bangalore, Chennai, Kolkata, and Delhi. Pride Group kept expanding by adding hotels and resorts on joint ventures and management basis at Goa, Jaipur, Puri, Indore and the recent one in Mussoorie. Pride Hotels Group today is a major player in the hospitality industry in India.</p></center>
<center>
    <p style="font-size: 40px;font-weight: bold;color: #12c064;    padding: 30px 0;
    max-width: 1340px;">The Signature Pride Hospitality</p>
</center>
<div style="display: inline-block;">
    <img src="/static/images/aboutus.avif"  width = "40%"style = "border-radius: 10px;float: right;margin-left: 50px;"  alt="">
    <p style="justify-content:left;text-align: justify;padding: auto;font-size: 22px;font-family: math;">Pride Hotels Group resonates true Indian Hospitality. Being a truly Indian brand people have taken pride in associating with us. Pride Hotels Group Incorporates the Five sense of traditional Indian welcome namely, fragrance, music, ambience, regional Indian paintings and frescoes, and mouth-watering Indian Cuisines. At Pride, we start with a traditional welcome of Namaskar and welcome our guest with Tika, Aarti and Garland which is how we welcome guest at our homes. There is a familiar fragrance of tuberose in our lobbies which we have in all of our hotels. All our public area play local regional music. All the artworks of the rooms and public areas have taken inspiration from local architecture, culture, and colours. Our all-day dining offers an international and Indian menu and have also incorporated a lot of popular dishes from regional cuisines.</p>
</div>

<center>
    <p style="font-size: 40px;font-weight: bold;color: #12c064;    padding: 30px 0;
    max-width: 1340px;">Upcoming Hotels</p>
</center>
<p style="justify-content:left;text-align: justify;padding: auto;font-size: 22px;font-family: math;">This year, our hotel in Goa is set to launch soon with around 250-300 rooms along with the ones in Nagpur and Pune, adding 75 and 50 rooms respectively. Sign-ups with new managements have also been planned in Guwahati, Panipat, and Nashik. </p>
<br><br><br><br>
<h1 style="font-weight: bold;color: #61aa08;">Our Team</h1>
<center>
    <p style="font-size: 40px;font-weight: bold;color: #12c064;    padding: px 0;
    max-width: 1340px;">Harsh Godkar</p>
</center>
<div style="display: inline-block;">
    <img src="/static/person.jfif"  width = "400px"style = "border-radius: 10px;float: right;margin-left: 50px;"  alt="">
    <p style="justify-content:left;text-align: left;padding: 50px;font-size: 22px;font-family: math;">
        <b> Name : </b> Harshkumar Rajeshbhai Godkar <br>
        <b>Age : </b> 19 years old <br> 
        <b>Roll no. : </b>CE045 <br>
        <b>Email Id. : </b>harshgodkar14@gmail.com <br>
        <b>Hobby : </b>Playing Cricket, Watching Movies and Web Series, Listening Music, etc. <br>
        <b>Currently persuing B.Tech degree in Computer Engineering From Dharmsinh Desai University, Nadiad.
        4th Semester , 2nd Year.</b>
        <p>
</div><br><hr>
<center>
    <p style="font-size: 40px;font-weight: bold;color: #12c064;    padding: px 0;
    max-width: 1340px;">Kapil Gohil</p>
</center>
<div style="display: inline-block;">
    <img src="/static/person.jfif"  width = "400px"style = "border-radius: 10px;float: left;margin-left: 50px;"  alt="">
    <p style="justify-content:left;text-align: justify;float: right;font-size: 22px;font-family: math;">
        <b> Name : </b> Kapil Gohil<br>
        <b>Age : </b> 20 years old <br> 
        <b>Roll no. : </b>CE046 <br>
        <b>Email Id. : </b>kapilbhaigohil@gmail.com <br>
        <b>Hobby : </b>Coding, Watching NEWS, Reading books, etc. <br>
        <b>Currently persuing B.Tech degree in Computer Engineering From Dharmsinh Desai University, Nadiad.
        4th Semester , 2nd Year.</b>
    </p>
</div>

{% endblock content %}