body{
  background-image: url('image/back3.jpg');
  background-size : cover;
  background-repeat : none;
  font-family : montserrat;
  align-items: center;
}
.nav{
  list-style:none;
  margin-top :150px;
  padding:0;
  text-align:center;
}
.nav li{
  display:inline;
  opacity: 1.0;
}
.nav a{
  display:inline-block;
  padding:20px;
  text-decoration: none;
  color : white;
  font-family : montserrat;
  font-size : 20px;
  font-weight: bold;
  text-shadow: 65px;
  transition: font-size .4s;
}

.image{
  background : rgba(0, 0, 77, 0.7);   /*rgba(59, 59, 142, 0.5)*/
  padding : 60px;
  position : relative;
}

.image2{
  background-image: url('image/logo2.png');
  padding : 150px;
  width : 50px;
  text-align : center;
}

img {
  width: 300px;
}

.submitbutton{
  background-color : rgba(0, 0, 77, 0.9);
  padding : 10px;
  color : white;
  font-size : 18px;
  font-weight : bold;
   text-align : center;
  margin-top : 80px;
  border-radius: 5px;
  text-shadow: 65px;
}

h1{
  color :white;
  font-size : 50px;
  font-family : Candal;
  text-shadow: 65px;
}

p{
  color :white;
  font-family : Candal;
  text-shadow: 65px;
  font-size : 20px;
}

.nav a:hover{
  font-size: 24px;
}